<a href="https://colab.research.google.com/github/iamrafinawaz/Data-Analytics/blob/main/Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Types and Structures Questions


Subjective Questions

1. What are data structures, and why are they important?

Ans.

Data structures are specialize   
formats used to store and organize data efficiently.
It's important because it provide various ways to store, access, manipulate data according to specific need.

2. Explain the difference between mutable and immutable data types with examples.

Ans.

Mutable data types can be modified after creation while immutable data types cannot be changed once they are created.


my_list = [1, 2, 3]
my_list[0] = 10  # Modifies the first element beacuse lists mutable
print(my_list)  # Output: [10, 2, 3]

my_tuple = (1, 2, 3)
my_tuple[0] = 10  # This will raise a TypeError beacse tuples are immutable

3. What are the main differences between lists and tuples in Python?

Ans.

Lists are mutable while tuples are immutable.

4. Describe how dictionaries store data?

Ans.

Dictionaries in Python store data as key-value pairs. Each key is unique and maps to a specific value.

my_dict = {'name': 'Mangesh', 'age': 25, 'city': 'Noida'}

5. Why might you use a set instead of a list in Python?

Ans.
Whenever I have store data which doesn't allow duplicacy, I'll use set instead of list becasue sets stores unique collection of elements and doesn't allow duplicate elements.


6. What is a string in Python, and how is it different from a list?

Ans.
String is a sequence of characterrepresent and manipulate textual data.

Stings are immutable and stores homogenous elements while lists are mutable and can store hetrogenous elements.

7. How do tuples ensure data integrity in Python?

Ans.
Tuples are immuatble means we can't change the state of tuples. So for maintaing data intergrity we use tuples.

8. What is a hash table, and how does it relate to dictionaries in Python?

Ans.
A hash table is a data structure that maps keys to values using a hash function, enabling efficient data retrieval, insertion, and deletion.

Python dictionaries use hash tables to store key-value pairs efficiently, allowing quick access to values via hashed keys.

9. Can lists contain different data types in Python?

Ans.
Yes, a list can store different data types in python.

10.  Explain why strings are immutable in Python?

Ans.
Strings in Python are immutable because once we create a string, it stays the same. This helps save memory, keeps our data secure, and makes Python work faster and more reliably.

11.  What advantages do dictionaries offer over lists for certain tasks?

Ans.
Dictionaries are better than lists for some tasks because they can find and retrieve data quickly using unique keys. This makes them ideal for tasks that require fast lookups and data association.

12. Describe a scenario where using a tuple would be preferable over a list?

Ans.
Using a tuple is preferable when you need to store a collection of items that should not change. For example, storing coordinates (latitude, longitude) where the values must remain constant ensures data integrity and avoids accidental modifications.

13.  How do sets handle duplicate values in Python?

Ans.
In Python, sets automatically handle duplicate values by only storing unique elements. When we add an element to a set that already exists in it, the set ignores the duplicate and retains a single instance of the element.

14. How does the “in” keyword work differently for lists and dictionaries?

Ans.
In Python, the `in` keyword checks for the presence of an element in a list or a key in a dictionary. For lists, it searches for elements; for dictionaries, it checks for keys only.

15. Can you modify the elements of a tuple? Explain why or why not?

Ans.
No, you cannot modify the elements of a tuple because tuples are immutable in Python to ensure the data intigrity.

16. What is a nested dictionary, and give an example of its use case?

Ans.
A nested dictionary is a dictionary within another dictionary. It is useful for storing complex data structures.

Storing student grades:
students = {
    "Sambit": {"Math": 90, "Science": 85},
    "Mangesh": {"Math": 78, "Science": 82}
}

17. Describe the time complexity of accessing elements in a dictionary?

Ans.
Accessing elements in a dictionary typically has an average time complexity of O(1), meaning it is very fast and constant time. This efficiency comes from the use of a hash table to quickly locate keys.

18. In what situations are lists preferred over dictionaries?

Ans.
Lists are preferred over dictionaries when the order of elements matters, when we need to store duplicate items, or when we need to perform operations like slicing, appending, or iterating through a sequence.



19. Why are dictionaries considered unordered, and how does that affect data retrieval ?

Ans.
Dictionaries are considered unordered because they store key-value pairs without any specific order. This means the order of items can change. However, data retrieval is efficient and fast (O(1) time complexity) since it relies on hash functions, not the order of elements.

20. Explain the difference between a list and a dictionary in terms of data retrieval?

Ans.
Lists retrieve elements by index, requiring their position. Searching is O(n) unless the index is known (O(1)). Dictionaries use keys for quick lookups, offering O(1) access time due to hashing. Lists are ideal for ordered collections; dictionaries excel in fast key-based retrieval.

In [ ]:
# PRACTICAL QUESTION

In [ ]:
# 1. Write a code to create a string with your name and print it.
s="MD Dilnawaz Rafi"
print(s)

MD Dilnawaz Rafi

In [ ]:
# 2. Write a code to find the length of the string "Hello World".
s="Hello World"
str_length=len(s)
print(str_length)

11

In [ ]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".
s="Python Programming"
sliced_string=s[0:3]
print(sliced_string)

Pyt

In [ ]:
# 4. Write a code to convert the string "hello" to uppercase.
str="hello"
upper_str=str.upper()
print(upper_str)

HELLO

In [ ]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
str="I like apple"
new_str=str.replace("apple","orange")
print(new_str)

I like orange

In [ ]:
# 6.  Write a code to create a list with numbers 1 to 5 and print it.
lis=[1,2,3,4,5]
print(lis)

[1, 2, 3, 4, 5]

In [ ]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
list=[1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [ ]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
li=[1,2,3,4,5]
li.remove(3)
print(li)

[1, 2, 4, 5]

In [ ]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
list=['a','b','c','d']
second_element=list[1]
print(second_element)

b

In [ ]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
list=[10,20,30,40,50]
reversed_list=list[::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

In [ ]:
# 11. Write a code to create a tuple with the elements 10, 20, 30 and print it.
tup=(10,20,30)
print(tup)

(10, 20, 30)

In [ ]:
# 12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
tuple=('apple','banana','cherry')
first_element=tuple[0]
print(first_element)

apple

In [ ]:
# 13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
tup=(1,2,3,2,4,2)
print(tup.count(2))

3

In [ ]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple=('dog','cat','rabbit')
print(tuple.index('cat'))

1

In [ ]:
# 15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
tuple=('apple','orange','banana')
if 'banana' in tuple:
    print("yes")
else:
    print("no")

yes

In [ ]:
# 16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
set={1,2,3,4,5}
print(set)

{1, 2, 3, 4, 5}

In [ ]:
# 17. Write a code to add the element 6 to the set {1, 2, 3, 4}.
set={1,2,3,4}
set.add(6)
print(set)

{1, 2, 3, 4, 6}

In [ ]:
# 18. Write a code to create a tuple with the elements 10, 20, 30 and print it.
tup=(10,20,30)
print(tup)

(10, 20, 30)

In [ ]:
# 19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
tuple=('apple','banana','cherry')
first_element=tuple[0]
print(first_element)

apple

In [ ]:
# 20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
tup=(1,2,3,2,4,2)
print(tup.count(2))

3

In [ ]:
# 21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple=('dog','cat','rabbit')
print(tuple.index('cat'))

1

In [ ]:
# 22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
tuple=('apple','orange','banana')
if 'banana' in tuple:
    print("yes")
else:
    print("no")

yes

In [ ]:
# 23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
set={1,2,3,4,5}
print(set)

{1, 2, 3, 4, 5}

In [ ]:
# 24. Write a code to add the element 6 to the set {1, 2, 3, 4}.
set={1,2,3,4}
set.add(6)
print(set)

{1, 2, 3, 4, 6}